
/* Fonts Variables 
**********************/
$font-core: 'Poppins', sans-serif;
$font-secondary: 'Rubik', sans-serif;
$font-auxiliary:  'Roboto', sans-serif;
/* Colors Variables
**********************/
$blue-light-basic:#F3F7FD;
$green-light:#68E2C7;
$grey-light:#E9ECEF;
$green-dark:#6C6C6C;
$grey-dark-2:#8FA2C3;
$blue-normal:#1064E9;
$yellow-intense:#F5AE39;
$rose:#FDB3A8;

/* Headers Variables
**********************/
$heading-xxs: 14px;
$heading-xs: 20px;
$heading-s: 30px;
$heading-m: 40px;
$heading-l: 50px;
$heading-xl: 60px;
$heading-xxl: 70px;

/* Text Copy Variables
**********************/
$text-xxs: 8px;
$text-xs: 12px;
$text-s: 14px;
$text-m: 16px;
$text-l: 18px;
$text-xl: 20px;
$text-xxl: 24px;

/* Spacing Variables
**********************/
$spacer-xxs: 4px;
$spacer-xs: 8px;
$spacer-s: 16px;
$spacer-m: 24px;
$spacer-l: 32px;
$spacer-xl: 40px;
$spacer-xxl: 80px;

