/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
}

/*Sky Styling*/

.sky{
    width: 80vw;
    height: 110vh;
    background-image: url('../assets/sky.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}
.tree{
    height: 100vh;
    background-image: url('../assets/tree-removebg-preview\ \(1\).png');
    background-repeat:no-repeat;
    background-size: cover;
}
.track{
    background-image: url('../assets/track.jpeg');
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0%;
    width: 700%;
    display: block;
    left: 0%;
    height: 20vh;
    animation: trackanimation 6s linear infinite;
}
.car{
    background-image: url('../assets/car-removebg-preview.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 17rem;
    height: 4.699rem;
    position: absolute;
    bottom: 77px;
    left: 396px;
    animation: suspension 1s linear infinite;
}
.wheel{
    position: absolute;
    animation: wheelanimation linear .6s infinite;
}
.wheel1{
    background-image: url('../assets/wheel1-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 46px;
    height: 49px;
    bottom: 71px;
    left: 570px;
}
.wheel2{
    background-image: url('../assets/wheel2-removebg-preview.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 43px;
    height: 44px;
    bottom: 77px;
    left: 433px;
}

/*Para Pausar animacion*/
.carstop{
    background-image: url('../assets/car-removebg-preview.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 17rem;
    height: 4.699rem;
    position: absolute;
    bottom: 77px;
    left: 396px;
    animation: suspensionstop 1s linear infinite;
}
.trackstop{
    background-image: url('../assets/track.jpeg');
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0px;
    width: 7000vw;
    height: 20vh;
    animation: wheelanimationstop 6s linear infinite;
}

.wheelstop{
    position: absolute;
    animation: wheelanimationstop linear .6s infinite;
}

 /*
 Para la animaciones del carro
 */
@keyframes wheelanimation{

    100%{
        transform: rotate(360deg);
    }
}
@keyframes trackanimation{
     
    100%{
        transform: translate(-500vw);
    }
}


@keyframes suspension{
    100%{

        transform: translateY(-2px)

    }
    50%{
        transform: translateY(3px);
    }
    0%{
        transform: translateY(-2px);
    }
}

/*
Animacion de parar
*/


@keyframes wheelanimationstop{

    100%{
        transform: rotate(0deg);
    }
}
@keyframes trackanimationstop{
     
    100%{
        transform: translate(0vw);
    }
}


@keyframes suspensionstop{
    100%{

        transform: translateY(0px)

    }
    50%{
        transform: translateY(0px);
    }
    0%{
        transform: translateY(0px);
    }
}


#animation {
    position: relative;
    top: 40px;
}